<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <% if @type == :start %>
			<%= @sender.first_name %> has started a conversation with you. <%= link_to "Click here to view the message", conversations_url(subdomain: @community.subdomain) %>.
		<% else %>
			<%= @sender.first_name %> has continued your conversation. <%= link_to "Click here to view the message", conversations_url(subdomain: @community.subdomain) %>.		
		<% end %>
  </body>
</html>