- if params[:ids].present?
	.reset_filters
		%span
			\/&nbsp;
			= link_to "reset", users_path
- %W[ standing degree field profession company gender relationship orientation religion ethnicity school city state country ].each do |community_type|
	- communities = @filters.where(community_type: community_type.titleize)
	- if communities.present?
		.filters_title
			%span= community_type.titleize
		%ul
			- communities.each do |community|
				%li{:class => selected?(community) ? "selected" : nil}
					= link_to community.filter_name, users_path(ids: set_params!(community)), :class => "filter"