.row
	.span12
		#home
			.home_title
				select a network
				%i.icon-caret-down
			.home_communities
				.home_communities_title
					%span MY NETWORKS
				%ul
					- current_user.communities.any_in(community_type: ["School", "Ethnicity", "Field"]).asc(:name).each do |community|
						%div= link_to community.name, root_url(subdomain: community.subdomain)				
				- %W[ School Field Ethnicity ].each do |community_type|
					.home_communities_title
						%span= community_type.pluralize
					%ul
						- @communities.where(community_type: community_type).each do |community|
							%div= link_to community.name, root_url(subdomain: community.subdomain)