.row
	.span12
		#home
			.home_title
				select a network
				%i.icon-caret-down
			.home_communities
				.home_communities_title
					%span Schools
				%ul
					- @communities.where(community_type: "School").each do |community|
						%div= link_to community.name, root_url(subdomain: community.subdomain)
				.home_communities_title
					%span Fields
				%ul
					- @communities.where(community_type: "Field").each do |community|
						%div= link_to community.name, root_url(subdomain: community.subdomain)
				.home_communities_title
					%span Ethnicities
				%ul
					- @communities.where(community_type: "Ethnicity").each do |community|
						%div= link_to community.name, root_url(subdomain: community.subdomain)