//Layout
var $container = $('#users');
var $users = $('<%= j render @users %>');

$container.isotope('insert', $users);
$container.imagesLoaded( function(){
	$container.isotope('reLayout');
});

//Filters
$('#filters').html('<%= j render :partial => "users/filters", :locals => { :filters => @filters } %>');

//Pagination
<% if @users.current_page == @users.num_pages %>
  $('.pagination').remove();
<% else %>
	//Restore pagination div if removed via filtering
	if ( !$('.pagination').length ) {
		$('.span10').append('<div class="pagination"></div>')
	}
  $('.pagination').replaceWith('<%= j paginate @users %>');
<% end %>