//Layout
var $container = $('#users');

$('.user').remove();
$container.html("<%= j render @users %>");
$container.imagesLoaded(function() {
	$('.user').wookmark({
		container: $('#users'),
		offset: 10,
		itemWidth: 192,
		autoResize: true		
	});
});

//Filters
$('#filters').html('<%= j render :partial => "users/filters", :locals => { :filters => @filters } %>');
//$container.css({minHeight: $('#filters').height()});

//Pagination
<% if @users.current_page == @users.num_pages %>
  $('.pagination').remove();
<% else %>
	if ( !$('.pagination').length ) {
		$('.span10').append("<div class='pagination'></div>")
	}
  $('.pagination').replaceWith('<%= j paginate @users %>');
<% end %>