- content_for :javascript do
	= javascript_include_tag 'imagesloaded.min', 'wookmark.min', 'users', 'autosize.min'
	
.row
	.span2
		#filters
			= render "users/filters"
	.span10
		#users
			= render @users
			&nbsp;
		= paginate @users, :remote => true