.post
	.post_user
		= image_tag User.all.sample.normal_image
		=# image_tag post.user.normal_image
	.post_contents
		.post_user_name
			= User.all.sample.name
			=# post.user.name
		.post_body
			= post.body
		.post_communities
			- post.communities.each do |community|
				- unless community == @community
					%li= community.name
	%div{style:"clear:both"}