#dashboard
	#dashboard-inner
		%ul
			=# collection_select(:user, :community_ids, current_user.communities.asc(:name), :id, :dropdown_name, {:include_blank => true}, {'data-placeholder' => "Select Network", :class => 'chzn-select'})		
			%li.dash_nav
				= link_to destroy_user_session_path, method: :delete do
					%i.icon-signin
					Logout
			%li.dash_nav
				= link_to edit_user_registration_path do
					%i.icon-tasks
					Update
			%li.dash_nav
				- if current_user.subscribed?
					= link_to subscriptions_path do
						%i.icon-heart
						Account				
				- else
					= link_to new_subscription_path do
						%i.icon-heart
						Support